### 변수
 - 데이터를 담을 수 있는 공간

In [40]:
num = 3
num1 = 5

In [41]:
print(num)
print(num1)

3
5

In [42]:
num
num1

5

In [ ]:
# 한 셀 안의 코드는 위에서부터 아래로 실행된다.
num1 = 13
print(num1) # 13
num2 = 25
print(num2) # 25
num2 = 77
print(num2) # 77

In [ ]:
# 셀의 실행 순서에 따라 결과값이 달라진다.
print(num2)

In [43]:
num2 = 25

In [ ]:
num2 = 77

In [44]:
# 변수에 숫자(실수) 대입
num3 = 3.1425
num4 = 1.25
num5 = 3.12

In [47]:
# 변수에 문자열 대입
str1 = "Funny python"
print(str1)
str2 = "Easy python"
print(str2)

Funny python
Easy python

### 변수명 규칙
1. 영문자, 숫자, 언더바(_)를 사용할 수 있다.
2. 언더바(_) 이외의 다른 기호는 사용할 수 없다.
3. 숫자로 시작할 수 없다.
4. 키워드를 변수로 사용할 수 없다.

In [1]:
# 변수 a에 10을 대입, 변수 b에 15를 대입
a = 10
b = 15
print(a)
print(b)

10
15

In [2]:
a, b = 10, 15
print(a)
print(b)

10
15

In [6]:
# 변수 str3, str4에 python 문자열 대입
str3 = str4 = "python"
print(str3)
print(str4)

python
python

In [7]:
# 변수 x에는 100을 대입, 변수 y에는 200을 대입 후 변수 sum에는 두 변수의 합을 대입하여 출력.
x = 100
y = 200
sum = x + y
print(sum)

300

### 변수명 권장사항
- 변수명은 첫글자를 소문자로 만든다.
- 두 가지 문자를 섞어서 만들 경우, 두 단어를 구분할 수 있게 한다.
- 표기법1. camelCase(낙타표기법) 예시) numberList = 3
- 표기법2. snake_case 예시) number_List = 3
- 표기법3. PascalCase 예시